html {
    background-color: #709f80;
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

p, li {
    font-size: 16px;    
    line-height: 1.5;
    letter-spacing: 1px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
  
.flex-container > div {
    background-color:#b0d6d6;
    width: 400px;
    margin: 10px;
    /*text-align: center;*/
    line-height: 75px;
    font-size: 30px;
    border: 5px solid black;
    padding: 10px;
}
/*
#bio {
    width: 400px;
    margin: 0 0 0 0;
    background-color: #b0d6d6;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    float:left;
}

#current-projects {
    width: 400px;
    margin: 0 0 0 0;
    background-color: #b0d6d6;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    margin-left:auto;
}
*/
/*
body {
    width: 600px;
    margin: 0 auto;
    background-color: #b0d6d6;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}


.header {
    margin:0 auto;
    height: 150px;
    padding-top: 10px;
    padding-left: 10px;
}

.header img {
    position: relative;
    width: 150px;
    height: 150px;
    bottom: 50%;
    border-radius: 50%;
}

.header h1 {
    font-size: 40px;
    height: 40px;
    position: relative;
    text-align: left;
    word-wrap: normal;
    left: 25%;
    top: 10%;
}
*/