:root {
    --drop-speed: .4s;
    --dropdown-base-hue: 120;
}

.dropdown:focus-within .dropdown-body {
    opacity: 1;
}

.dropdown:focus-within {
    height: 200px;
}

.dropdown {
    transition: calc(var(--drop-speed) / 2) height;
    position: relative;
    margin: 5px auto;
    background: hsl(var(--dropdown-base-hue), 80%, 40%);
    width: 500px;
    height: 50px;
    font-size: larger;
    font-weight: 500;
    user-select: text;
    border-radius: 5%;
}

.dropdown-body {
    font-size: large;
    background: hsl(var(--dropdown-base-hue), 60%, 70%);
    overflow: hidden;
    opacity: 0;
    transition: opacity var(--drop-speed);
}