:root{
    --bg-h: 60;
    --bg-s: 25%;
    --bg-l: 60%;
    --margin: 10px;
}

.gradient-text-shadow{
    text-shadow: -0.15rem -0.15rem 0px black;
    background: linear-gradient(90deg, hsl(var(--bg-h), var(--bg-s), var(--bg-l)) 0%, white 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.bg-color{
    color: hsl(var(--bg-h), var(--bg-s), var(--bg-l));
}

.bg-color-dark{
    color: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) - 10%));
}

.bg-color-darker{
    color: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) - 35%));
}

body {
    margin: var(--margin);
    font-family: Arial, Helvetica, sans-serif, 'Arial Bold';
    font-weight: 600;
    background: linear-gradient(90deg, hsl(var(--bg-h), var(--bg-s), 95%) 0%, hsl(var(--bg-h), var(--bg-s), var(--bg-l)) 100%);
}

#scantext, #insertion {
    font-size: 1.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

.sidebar {
    display: block;
    padding: 5px;
    width: 200px;
    height: 100vh;
    border-style: solid;
    border-width: 0 5px 0 0;
    border-radius: 5px;
    border-color: hsl(var(--bg-h), var(--bg-s), 20%);
}

ul {
    list-style-type: none;
}

.projects-container {
    grid-template-columns: 500px 500px;
    margin: 10px;
    padding: 0;
}

.project {
    --op: 0.6;
    border-radius: 25px;
    border-style: outset;
    border-width: 10px;
    padding: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
    background-color: hsla(calc(var(--bg-h) - 180), 100%, 85%, var(--op));
    text-align: center;
}

.project:hover {
    --op: 1;
}

.project img, nav img {
    width: 50px;
    height: 50px;
}

.project p {
    font-family:'Courier New', Courier, monospace;
}

.project span {
    font-size: x-large;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav img {
    transition: transform 0.1s;
}

nav a {
    margin-left: 3px;
}

nav img:hover {
    transform: scale(120%, 120%);
}