:root{
    --bg-h: 60;
    --bg-s: 25%;
    --bg-l: 60%;
}

.gradient-text-shadow{
    text-shadow: -0.15rem -0.15rem 0px black;
    background: linear-gradient(90deg, hsl(var(--bg-h), var(--bg-s), var(--bg-l)) 0%, white 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.bg-color-dark{
    color: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) - 10%));
}

.bg-color-darker{
    color: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) - 35%));
}

body{
    margin: 20px 100px;
    font-family: Arial, Helvetica, sans-serif, 'Arial Bold';
    font-weight: 600;
    background: linear-gradient(90deg, white 0%, hsl(var(--bg-h), var(--bg-s), var(--bg-l)) 100%);
}

a{
    text-decoration: none;
}

ul{
    margin-right: 10px;
    list-style-type: none;
    padding: 0;
}

li{
    --op: 0.2;
    border-radius: 25px;
    border-style: outset;
    border-width: 10px;
    padding: 5px;
    margin-top: 10px;
    transition: background-color 0.1s;
    background-color: hsla(calc(var(--bg-h) - 180), 100%, 85%, var(--op));
    text-align: center;
}

li:hover{
    --op: 0.8;
}

li img, nav img{
    width: 50px;
    height: 50px;
}

li p{
    font-family:'Courier New', Courier, monospace;
}

li span{
    font-size: x-large;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav img{
    transition: transform 0.1s;
}

nav a{
    margin-left: 3px;
}

nav img:hover{
    transform: scale(120%, 120%);
}

.center-background{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 8rem;
    letter-spacing: -1.25rem;
}

#hours, #minutes, #seconds {
    font-family: monospace, sans-serif;
    letter-spacing: 0;
}